    body {
        color:#969b9d;
   size:14px;
    }
    *{margin: 0;padding: 0}
    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color:#eff1f2;
    }

    .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
        background-color:#e5e8e9;
    }

    .table-hover > tbody > tr > td.warning:hover, 
    .table-hover > tbody > tr > th.warning:hover, 
    .table-hover > tbody > tr.warning:hover > td, 
    .table-hover > tbody > tr.warning:hover > th {
        background-color:#e5e8e9;
    }
    #header {
        background:url('top_bg.png') no-repeat scroll center;
        height:300px;
    }
    #appicon-bg {
    box-shadow: 0 10px 29px rgba(0,0,0,.06);; 
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
        width: 180px;
        height: 180px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        border: none;
        background-color:#ffffff;
        margin: auto;
        margin-top:-150px;
        margin-bottom: 30px;
    }
    .appicon{
        border: none;
    }
    .btn-u-lg, a.btn-u-lg {
        font-size: 18px;
        padding: 10px 50px;
        background-color: #28caad;
        border-radius: 5px;
    }

    .btn-u.btn-u-green {
        background-color: #28caad;
    }

    .btn-u.btn-u-green:hover,
    .btn-u.btn-u-green:focus,
    .btn-u.btn-u-green:active{
        background-color: #24bca1;
        color:#fff;
    }

    .servive-block-light, .servive-block-default {
        background:none;
    }

    .gray-text {
        color:#969b9d;
    }

    .gray-text li {
        color:#969b9d;
    }

    .breadcrumb>li+li:before {
        content:none;
    }

    .breadcrumb>li {
        padding: 0 5px;
    }

    .devider.devider-dotted {
        border-top:1px solid #e7ebed;
    }

    .content-title {
        size:20px;
        color:#333;
        margin-bottom:15px;
    }
    .table > thead > tr > th, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > td {
        border-top:0;
    }
    .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .form-horizontal .form-group:after, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-5, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after, .slides:after {
        clear: both;
    }
    .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
        content: " ";
        display: table;
    }
    .col-md-12{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .pull-right {
        float: right!important;
    }
    .row-fluid {
        position: relative;
        z-index: 8;
    }
    .margin-bottom-20 {
        margin-bottom: 20px;
    }
    img {
        border: 0;
        vertical-align: middle;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px
    }
    .container, .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container, .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }
    a, a:active, a:focus, a:hover {
        outline: 0!important;
    }
    a {
        color: #1abc9c;
        text-decoration: none;
    }
    a {
        background: 0 0;
    }
    .appicon {
        width: 120px;
        height: 120px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        border: 1px solid #ddd;
        margin-top: 28px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #585f69;
        margin-top: 5px;
        text-shadow: none;
        font-weight: 400;
        font-family: NotoSansHans-Regular, AvenirNext-Regular, proxima-nova, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    }

    h2 {
        font-size: 24px;
        line-height: 33px;
    }
    .breadcrumb {
        top: 10px;
        padding-right: 0;
        background: 0 0;
        position: relative;
    }
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        border-radius: 4px;
    }
    ol, ul {
        margin-bottom: 10px;
    }
    dl, ol, ul {
        margin-top: 0;
    }
    .breadcrumb>li, .pagination {
        display: inline-block;
    }
    .margin-bottom-30 {
        margin-bottom: 30px;
    }
    .spinner {
        height: 45px;
    }

    #showtext, .browser_notice, .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager, .fa-li, .fa-stack-1x, .fa-stack-2x, .flex-control-nav, .navbar .nav li, .spinner {
        text-align: center;
    }
    #showtext {
        display: none;
        font-size: 14px;
    }

    #showtext, .color-green, .header .navbar-default .navbar-nav>.active>a, .linked:hover, a.read-more:hover, a:active, a:focus, a:hover {
        color: #1abc9c;
    }
    .loading {
        display: none;
        background-color: transparent;
        width: 45px;
        height: 45px;
        border: 1px solid #1abc9c;
        border-radius: 50%;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transition: all .25s;
        transition: all .25s;
        -webkit-animation: rotate .6s linear infinite;
        animation: rotate .6s linear infinite;
    }

    .btn-u-lg, a.btn-u-lg {
        font-size: 18px;
        padding: 10px 25px;
    }
    .btn-u-lg, a.btn-u-lg {
        font-size: 18px;
        padding: 10px 50px;
        background-color: #28caad;
        border-radius: 5px;
    }
    .btn-u {
        background: #1abc9c;
    }
    .btn-u {
        border: 1px solid #1ABC9C;
        color: #fff;
        cursor: pointer;
        padding: 4px 13px;
        position: relative;
    }
    .btn-u, .list-toggle:after {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
    }
    .btn-u, .btn-u:hover, .link-bg-icon:hover, .link-icon:hover, .recent-work a:hover, .servive-block h2 a:hover, .sidebar-nav-v1 li a:hover, .topbar ul.lenguages li a:hover, .topbar-v1 .top-v1-data li a:hover {
        text-decoration: none;
    }

    @font-face {
        font-family: FontAwesome;
        src: url(fontawesome-webfont.eot?v=4.7.0);
        src: url(fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
        font-weight: 400;
        font-style: normal
    }
    .fa {
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .container .about .f-facebook, .fa {
        font: normal normal normal 14px/1 FontAwesome;
    }
    .fa, .fa-stack {
        display: inline-block;
    }
    .fa, .glyphicon, [data-icon]:before {
        -moz-osx-font-smoothing: grayscale;
    }
    .fa-download:before {
        content: "\f019";
    }
    .fa-android:before {
        content: "\f17b";
    }
    .devider.devider-dotted {
        border-top: 2px dotted #eee;
    }

    hr {
        margin: 30px 0;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tag-box {
        padding: 20px;
        background: #fff;
        margin-bottom: 30px;
    }
    .tag-box h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .content-title {
        size: 20px;
        color: #333;
        margin-bottom: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #585f69;
        margin-top: 5px;
        text-shadow: none;
        font-weight: 400;
        font-family: NotoSansHans-Regular, AvenirNext-Regular, proxima-nova, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    }
    .margin-bottom-40 {
        margin-bottom: 40px;
    }

    .tag-box {
        padding: 20px;
        background: #fff;
        margin-bottom: 30px;
    }
    @media (max-width:767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            overflow-x: scroll;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
            -webkit-overflow-scrolling: touch
        }
        .table-responsive>.table {
            margin-bottom: 0
        }
        .table-responsive>.table>tbody>tr>td,
        .table-responsive>.table>tbody>tr>th,
        .table-responsive>.table>tfoot>tr>td,
        .table-responsive>.table>tfoot>tr>th,
        .table-responsive>.table>thead>tr>td,
        .table-responsive>.table>thead>tr>th {
            white-space: nowrap
        }
        .table-responsive>.table-bordered {
            border: 0
        }
        .table-responsive>.table-bordered>tbody>tr>td:first-child,
        .table-responsive>.table-bordered>tbody>tr>th:first-child,
        .table-responsive>.table-bordered>tfoot>tr>td:first-child,
        .table-responsive>.table-bordered>tfoot>tr>th:first-child,
        .table-responsive>.table-bordered>thead>tr>td:first-child,
        .table-responsive>.table-bordered>thead>tr>th:first-child {
            border-left: 0
        }
        .table-responsive>.table-bordered>tbody>tr>td:last-child,
        .table-responsive>.table-bordered>tbody>tr>th:last-child,
        .table-responsive>.table-bordered>tfoot>tr>td:last-child,
        .table-responsive>.table-bordered>tfoot>tr>th:last-child,
        .table-responsive>.table-bordered>thead>tr>td:last-child,
        .table-responsive>.table-bordered>thead>tr>th:last-child {
            border-right: 0
        }
        .table-responsive>.table-bordered>tbody>tr:last-child>td,
        .table-responsive>.table-bordered>tbody>tr:last-child>th,
        .table-responsive>.table-bordered>tfoot>tr:last-child>td,
        .table-responsive>.table-bordered>tfoot>tr:last-child>th {
            border-bottom: 0
        }
    }
    @media (min-width:768px) {
        .container {
            width: 750px
        }
    }

    @media (min-width:992px) {
        .container {
            width: 970px
        }
    }

    @media (min-width:1200px) {
        .container {
            width: 1170px
        }
    }
    @media (min-width:768px) {
        .col-sm-offset-2 {
            margin-left: 16.666666666666664%
        }
    }

    @media (min-width:992px) {
        .col-md-offset-2 {
            margin-left: 16.666666666666664%
        }
        .col-md-8 {
            width: 66.66666666666666%
        }
    }

    @media (min-width:1200px) {
        .col-lg-offset-2 {
            margin-left: 16.666666666666664%
        }
    }